---
import { ClientRouter } from "astro:transitions";
import FloatingButton from "../components/global/FloatingButton.astro";
import Footer from "../components/layouts/Footer.astro";
import Navbar from "../components/layouts/Navbar.astro";
import { ViewTransitions } from "astro:transitions";
import "../styles/global.css";
import "aos/dist/aos.css";

interface Props {
  title?: string;
  description?: string;
  image?: string;
  url?: string;
  whatsappImage?: string;
}

const {
  title = "Linkea México | Soluciones Digitales",
  description = "Descubre las soluciones digitales de Linkea: Diseño web, Desarrollo de aplicaciones y Estrategias de Marketing para impulsar tu negocio.",
  image = "/images/og.jpg",
  url = Astro.url.href,
  whatsappImage = "/images/square-og.jpg",
} = Astro.props as Props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="robots" content="index, follow" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL(image, Astro.url.origin).href} />
    <meta
      property="og:image"
      content={new URL(whatsappImage, Astro.url.origin).href}
    />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="600" />
    <meta property="og:image:type" content="image/jpeg" />

    <meta property="og:url" content={url} />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="es_MX" />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-R3G8YNXM2G"
    ></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-R3G8YNXM2G");
    </script>
    <ViewTransitions />
    <ClientRouter />
  </head>
  <body>
    <header>
      <Navbar />
    </header>
    <main transition:animate="slide">
      <slot />
      <FloatingButton />
    </main>
    <footer>
      <Footer />
    </footer>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>

<script>
  import AOS from "aos";
  AOS.init();
</script>
